<div class="container mt-3 ">
  <h1>Stupid Coaching</h1>

<div class="card mt-3">
  <div class="card-body">
    <p><%= @question%></p>
    <p><em>- You</em></p>
  </div>
</div>

<div class="card mt-3 border-warning">
  <div class="card-body">
    <p><strong><%= @answer %></strong></p>
    <p><em>- Your coach</em></p>
  </div>
</div>

<div class="mt-3">
  <%= link_to "Ask a new question", ask_path %>
</div>
</div>
